@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(56, 189, 248, 0.2);
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 69%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 10%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 30%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 85%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 13s;
}
.background li:nth-child(4) {
    left: 38%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 9s;
}
.background li:nth-child(5) {
    left: 68%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 9s;
}
.background li:nth-child(6) {
    left: 86%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 1s;
}
.background li:nth-child(7) {
    left: 30%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 25s;
}
.background li:nth-child(8) {
    left: 36%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 25s;
}
.background li:nth-child(9) {
    left: 45%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 26s;
}